<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class = 'opinion_all'>
  <p> Person :
  <span><%= opinion.name %> <%= opinion.surname %> </span>

  <p> Opinion :
  <span><%= opinion.text %> </span>

  <p> Rating :
  <span><%= opinion.rate %> </span>

  <%= link_to "Delete opinion", film_opinion_path(@film, opinion),
                                method: :delete,
                                data: { confirm: "Don't you think about it?"}%>
</div>
